.add_bookmark_con {
    width: 35%;
    height: 24em;
    padding-bottom: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 40px auto auto auto 65px;
    background: var(--back_clr);
    backdrop-filter: blur(10px);
    z-index: 2;
    scale: 0;
    transition: 0.2s;
}

.add_bookmark_con.active {
    top: 50%;
    scale: 1;
}

.add_bookmark_con div {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
}

.add_bookmark_con_heading {
    position: relative;
    left: 25px;
}

.add_bookmark_con .name_div p {
    position: relative;
    left: 20px;
}

.add_bookmark_con .url_div p {
    position: relative;
    left: 20px;
}

.add_bookmark_con .img_div p {
    position: relative;
    left: 20px;
}

.add_bookmark_con input {
    position: relative;
    left: 20px;
    background: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid dodgerblue;
    outline: none;
    width: 87%;
    height: 30px;
    font-size: 16px;
    padding: 0 10px;
}

.add_bookmark_con .save_sortcut,
.add_bookmark_con .cancel_sortcut_btn {
    border-radius: 5px;
    width: 80px;
    height: 40px;
    position: absolute;
    border: none;
    top: 20px;
    cursor: pointer;
    font-size: 18px;
}

.add_bookmark_con .save_sortcut {
    color: #fff;
    left: 78%;
    background: rgba(30, 144, 255, 0.7);
}

.add_bookmark_con .cancel_sortcut_btn {
    left: 58%;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    border: 2px solid rgba(30, 144, 255, 0.7);
}

.edit_delete {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: relative;
    left: 3px;
    top: 3px;
    padding: 5px 5px 7px 7px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s;
}

.edit_delete:hover {
    background: rgba(0, 0, 0, 0.10);
    opacity: 1;
}

.edit_delete img {
    width: 100%;
    height: 100%;
}

.delete_bm {
    top: -24px;
    left: 72%;
    padding: 5px 5px 7px 5px;
}

.add_bm_btn .link_tab {
    top: 0;
}