.custom_tab {
    position: fixed;
    left: -50%;
    top: 10px;
    width: 27%;
    height: 97vh;
    background: var(--back_clr);
    border-radius: 10px;
    box-shadow: 0;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    transition: 0.3s;
    z-index: 2;
    scale: 0;
}

.custom_tab.active {
    left: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    scale: 1;
}

.bgimg_section {
    grid-row-start: 1;
    grid-row-end: 2;
}

/* .custom_tab div{
    border: 1px solid #000;
} */
.del_btn_con input {
    background: rgba(30, 144, 255, 0.8);
    padding: 8px 11px;
    width: 135px;
    border: none;
    border-radius: 7px;
    color: #fff;
    position: relative;
    left: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 18px;
}

.bg_imgs {
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
}

.custom_tab div .heading {
    font-size: 1.2em;
    position: relative;
    top: 20px;
    left: 20px;
    width: 80%;
}

.bg_img {
    width: 100%;
    height: 4.7em;
    transition: 0.2s;
    box-shadow: 0 0 1px 1px #000;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.bg_img:hover {
    box-shadow: 0 0 1px 2px #000;
}

.blank_img {
    background: #fff;
}

.blank_img:hover {
    box-shadow: 0 0 1px 2px #000;
}

.bg_img_blur {
    display: grid;
    grid-template-rows: auto auto;
}

.custom_tab .bg_img_blur .heading {
    height: 60%;
}

.bg_img_blur_check {
    position: relative;
    top: 15px;
    left: 20px;
    width: 75%;
    height: 5px;
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    .custom_tab {
        width: 100%;
        border-radius: 0;
        height: 100vh;
        top: 0;
    }

    .custom_tab.active {
        left: 0;
    }
}