.custom_tab {
    position: fixed;
    left: -100%;
    top: 50%;
    transform: translate(0, -50%);
    width: 27%;
    min-width: 350px;
    height: 97vh;
    background: var(--back_clr);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.3s;
    z-index: 2;
}

.custom_tab.active {
    left: 10px;
}

.custom_tab .main-container {
    width: 90%;
    position: relative;
    left: 5%;
    top: 2.5%;
}

.custom_tab .main-container .heading {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.custom_tab .main-container .heading.first {
    margin-top: 0;
}

.bgimg_section .bg_imgs {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
}

.bg_imgs .bg_img {
    width: 100%;
    height: 4.7rem;
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
    transition: 0.3s;
}

.bg_imgs .bg_img:hover {
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
}

.bg_img_add {
    display: grid;
    justify-content: center;
    align-items: center;
}

.bg_img_blur input,
.bg_img_transparancy input {
    height: 4px;
    width: 90%;
    cursor: pointer;
}

.del_bm_btn_con input,
.del_btn_con input {
    background: dodgerblue;
    color: #fff;
    border: none;
    padding: 8px 11px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.del_bm_btn_con input {
    margin: 1rem 0;
}

@media only screen and (max-width: 768px) {
    .custom_tab {
        width: 100%;
        border-radius: 0;
        height: 100vh;
        top: 0;
        transform: translate(0, 0);

    }

    .custom_tab.active {
        left: 0;
    }
}