body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    font-family: Verdana;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    --blur: 5px;
    --back_clr: rgba(255, 255, 255, 0.7);
    --text_clr: #000;
}

.bg_img_con {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(var(--blur));
}

.logo {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom_btn {
    font-size: 0.9em;
    color: dodgerblue;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 3em;
    border-radius: 3.6em;
    box-shadow: 0 2px 1em rgba(0, 0, 0, 0.30);
    position: absolute;
    bottom: 1.6em;
    right: 1.6em;
    background: #fff;
    cursor: pointer;
    z-index: 3;
}